*.pyc
*.rdb
*.csv
oldVersions
mailinfo.txt
names.txt
names_controversial.txt

!WEBSITE_online.rdb
!gaiadr2/*.rdb
check_publication.py
!gaiadr3/*.rdb
!NEWCODE/webpage_html/download/SWEETCAT_Dataframe.csv
